@{
    ViewData["Title"] = "Blocks Demo";
    var results = ViewBag.Results as List<string>;
}
<h1>Blocks Demo</h1>
@if (results != null)
{
    <ul>
        @foreach (var r in results)
        {
            <li>@r</li>
        }
    </ul>
}
