@{
    ViewData["Title"] = "Math Demo";
}
<h1>Math Demo</h1>
<p>Log(10): @ViewBag.Log</p>
<p>BigNum multiplication result: @ViewBag.BigNum</p>
<p>SafeSum result (overflow returns -1): @ViewBag.SafeSum</p>
