@model List<WebApp.DAL.Entities.Task>
@{
    ViewData["Title"] = "Tasks";
}

<h1 class="my-4">Tasks</h1>
<p>
    <a class="btn btn-primary btn-sm mb-3" href="/Tasks/Create">Create New Task</a>
    <a class="btn btn-secondary btn-sm mb-3" href="/Tasks/BulkCreate">Bulk Create Tasks</a>
    <a class="btn btn-info btn-sm mb-3" href="/Tasks/AssignUsersBulk">Bulk Assign Users to Tasks</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Assigned Users</th>
            <th style="width:100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Name</td>
                <td>
                    @if (task.Users.Any())
                    {
                        foreach (var u in task.Users)
                        {
                            <span class="badge bg-info text-dark">@u.Name</span>
                        }
                    }
                    else
                    {
                        <span class="text-muted">No users</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Tasks/Edit/@task.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Tasks/Delete/@task.Id">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>
